@model IEnumerable<Assignment.Models.MonAn>

@{
    ViewData["Title"] = "Index";
}

<h2 class="font-weight-bold text-danger text-uppercase">Món Ăn</h2>

<p>
    <a class="text-decoration-none adesi" asp-action="Create">Tạo Mới Món Ăn</a>
</p>
<table class="table table-bordered table-hover table-warning table-striped">
    <thead class="text-center badge-warning">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phanloai)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hinh)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Mota)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Trangthai)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phanloai)
                </td>
                <td>
                    <img src="~/images/monan/@item.Hinh" style="width:150px" />
                    @*@Html.DisplayFor(modelItem => item.Hinh)*@
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.Mota)
                    </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Trangthai)
                </td>
                <td>
                    <a class="text-decoration-none adesi" asp-action="Edit" asp-route-id="@item.MonAnID">Chỉnh sửa</a> |
                    <a class="text-decoration-none adesi" asp-action="Details" asp-route-id="@item.MonAnID">Chi tiết</a>
                </td>
            </tr>
        }
    </tbody>
</table>
